/**

!/.github/
!/.github/workflows/
!/.github/workflows/auto_release_on_vTag.yml

!/cmake/
!/cmake/FWR-Cam_lnx.pc.in
!/cmake/FWR_Cam_lnxConfig.cmake.in

!/include/
!/include/**/
!/include/**/*.hpp
!/include/**/*.hpp.in
!/include/**/*.tpp

!/include/FWR-Cam_lnx/Version.hpp.in

!/source/
!/source/**/
!/source/**/*.cpp

!/third_party/
!/third_party/**

!/.gitignore


!/CMakeLists.txt
!/CMakePresets.json


!/AUTHORS
!/CONTRIBUTING.md
!/CONTRIBUTORS.md
!/LICENSE
!/NOTICE
!/README
!/README.md
!/VERSION


*.local.*
*.local
*.bak
*.gen.*
*.gen
